.h3_background {
    background-color: #ffffffb5;
    color: #222124;
    font-size: xx-large;
    padding: 0.5rem;
}

.p_background {
    background-color: #ffffffb5;
    color: #222124;
    padding: 0.5rem;
}